@import "../../../control_pages/parameter";

* {
  .margin-padding();
}

.card-box {

  text-align: center;

  p {
    text-align: center;
    font-size: 1.3em;
    //background: #364d79;
    margin-top: 30px;
  }
}

.btn-hover {
  border: 1px solid black;
  outline-style: none;
  color: black;

  &:hover {
    background: black;
    color: #fff;
  }
}

.contact-carousel .contact-slick-slide {
  text-align: center;
  overflow: hidden;
}
