@import "../../../control_pages/parameter";

* {
  .margin-padding();
}

.card-box {
  .cards {
    text-align: center;
    //background: #364d79;
    height: 450px;
    margin-top: 40px;
    padding: 50px;
  }
}