@import "../../parameter";

@login: login-style;
@width: 100%;
@height: 70px;
@form-color: rgba(0, 0, 0, 0.3);

* {
  .margin-padding();
}

//#FF7400
//#7109AA
body {
  background: #fff;
}

.header-box {
  width: 80%;
  height: 100%;
  margin: 0 auto;

  .btn-hover {
    border: 1px solid black;
    outline-style: none;
    color: black;

    &:hover {
      background: black;
      color: #fff;
    }
  }
}

.nav-logo {
  width: 200px;
  height: 52px;
  margin: 21px 0 16px 0;
  float: left;
}

.login-btn {
  width: 65px;
  height: 52px;
  margin: 21px 0 16px 0;
  float: right;
}

.box-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0 150px 0;
}

.@{login} {
  text-align: center;
  background-color: @form-color;
  width: @width;
  position: fixed;
  top: 20%;
}